:root {
  /* FreeRadius vars */
  --blue10: rgb(240, 251, 252);
  --blue20: rgb(1, 165, 224);
  --blue25: rgb(1, 128, 173);
  --blue30: rgb(9, 52, 72);
  --blue40: rgb(5, 26, 36);
  --neutral10: rgb(244, 244, 244);
  --neutral15: rgb(225, 231, 232);
  --neutral20: rgb(163, 163, 163);
  --neutral30: rgb(102, 102, 102);
  --neutral40: rgb(51, 51, 51);
  --neutral50: rgb(34, 34, 34);
  --size1: 36px;
  --size2: 28px;
  --size3-5: 24px;
  --size3: 21px;
  --size4: 18px;
  --size5: 14px;
  --size6: 12px;
  --header-font-family: 'Fira Sans', sans-serif;

  /* Antora theme vars */
  /* --body-font-family: 'Fira Sans', sans-serif; */
  --body-font-family: 'Montserrat', sans-serif;
  --body-font-color: var(--neutral40);
  --body-font-weight-bold: 600;
  --navbar-background: white;
  --navbar_hover-background: none;
  --navbar-font-color: var(--neutral40);
  --navbar-button-background: var(--blue20);
  --navbar-button-border-color: var(--blue-20);
  --navbar-button-font-color: white;
  --navbar-height: calc(100 / var(--rem-base) * 1rem);
  --navbar-menu-border-color: white;
  --panel-background: var(--neutral10);
  --admonition-background: white;
  --toolbar-background: white;
  --toolbar-border-color: var(--neutral10);
  --caption-font-weight: normal;
  --table-border-color: var(--neutral15);
  --footer-font-color: white;
  --footer-background: var(--neutral40);
}

h1,
h2 {
  font-family: var(--header-font-family);
}

h2 {
  font-size: var(--size3-5);
}

h3 {
  font-weight: 600;
  font-size: var(--size4);
}

.button {
  font-weight: 400;
  font-size: var(--size5);
  padding: 15px 20px;
  line-height: 1.286;
  height: auto;
}

.sites-nav {
  flex: 1 1 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  background-color: var(--neutral10);
  font-size: var(--size6);
  /* height: calc(36 / var(--rem-base) * 1rem); */
}

.sites-nav a,
.sites-nav span {
  color: inherit;
  padding: 0.5rem;
}

.sites-nav a:hover {
  background-color: var(--neutral15);
}

.banner img {
  width: 100%;
  display: block;
}
