:root {
  --blue10: rgb(240, 251, 252);
  --blue20: rgb(1, 165, 224);
  --blue25: rgb(1, 128, 173);
  --blue30: rgb(9, 52, 72);
  --blue40: rgb(5, 26, 36);
  --neutral10: rgb(244, 244, 244);
  --neutral15: rgb(225, 231, 232);
  --neutral20: rgb(163, 163, 163);
  --neutral30: rgb(102, 102, 102);
  --neutral40: rgb(51, 51, 51);
  --size1: 36px;
  --size2: 28px;
  --size3-5: 24px;
  --size3: 21px;
  --size4: 18px;
  --size5: 14px;
  --size6: 12px;
  --header-font-family: 'Fira Sans', sans-serif;

  /* Antora vars */
  /* --body-font-family: 'Fira Sans', sans-serif; */
  --body-font-family: 'Montserrat', sans-serif;
  --body-font-color: var(--neutral40);
  --body-font-weight-bold: 600;
  --navbar-background: white;
  --navbar_hover-background: none;
  --navbar-font-color: var(--neutral40);
  --navbar-button-background: var(--blue20);
  --navbar-button-border-color: var(--blue-20);
  --navbar-button-font-color: white;
  --navbar-height: calc(100 / var(--rem-base) * 1rem);
  --navbar-menu-border-color: white;
  --panel-background: var(--neutral10);
  --admonition-background: white;
  --toolbar-background: white;
  --toolbar-border-color: var(--neutral10);
}

h1,
h2 {
  font-family: var(--header-font-family);
}

h2 {
  font-size: var(--size3-5);
}

h3 {
  font-weight: 600;
  font-size: var(--size4);
}

.button,
.navbar .button {
  font-weight: 400;
  font-size: var(--size5);
  padding: 15px 20px;
  line-height: 1.286;
  height: auto;
}

.navbar .button:hover,
.navbar .button:focus {
  background-color: var(--blue25);
}

.g-navbar {
  flex-wrap: wrap;
  font-size: var(--size5);
  border-bottom: 1px solid var(--neutral10);
  /* font-weight: 600; */
  /* height: calc(127 / var(--rem-base) * 1rem); */
}

.g-navbar .navbar-menu {
  text-transform: uppercase;
}

.g-navbar > .navbar-brand,
.g-navbar > .navbar-menu {
  height: auto;
}

.navbar-end > .navbar-item,
.navbar-end .navbar-link {
  padding-top: 0;
  padding-bottom: 0;
}

.navbar-dropdown {
  box-shadow: 0 2px 4px 2px var(--neutral10);
  padding: 1rem 0;
  text-transform: none;
}

.navbar-dropdown .navbar-item {
  padding-left: 2rem;
}

.navbar-item:hover > a {
  font-weight: 600;
}

.navbar-item.has-dropdown:hover {
  box-shadow: inset 0 -2px 0 0 var(--blue20);
}

.g-sites-nav {
  flex: 1 1 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  background-color: var(--neutral10);
  font-size: var(--size6);
  /* height: calc(36 / var(--rem-base) * 1rem); */
}

.g-sites-nav a,
.g-sites-nav span {
  color: inherit;
  padding: 0.5rem;
}

.g-sites-nav a:hover {
  background-color: var(--neutral15);
}

.doc .admonitionblock {
  border: 1px solid var(--neutral15);
  border-left: 5px solid;
}

.doc .admonitionblock.note {
  border-left-color: var(--note-color);
}

.doc .admonitionblock.warning {
  border-left-color: var(--warning-color);
}

.doc .admonitionblock.caution {
  border-left-color: var(--caution-color);
}

.doc .admonitionblock.important {
  border-left-color: var(--important-color);
}

.doc .admonitionblock.tip {
  border-left-color: var(--tip-color);
}

.doc h2:not(.discrete) {
  border-bottom: 2px dotted var(--neutral15);
  padding-bottom: 0.5em;
  margin-left: 0;
  margin-right: 0;
  text-indent: -1.5ex;
}

.doc h2:not(.discrete) .anchor {
  text-indent: 0;
}

.nav-container {
  font-size: var(--size5);
}

/* .nav-menu h3.title {
  margin-bottom: 1rem;
} */

.nav-menu .nav-item {
  position: relative;
}

.nav-menu .nav-item button {
  margin-top: 0.2rem;
}

.nav-menu .nav-text,
.nav-menu .nav-link {
  padding: 0.2rem 0;
  display: inline-block;
}

.nav-menu .nav-item.is-current-path > a {
  font-weight: var(--body-font-weight-bold);
}

.nav-menu .nav-item.is-current-page > a {
  position: relative;
}

.nav-menu .nav-item.is-current-page > a:before {
  content: "";
  width: 5px;
  background-color: var(--blue20);
  height: 100%;
  position: absolute;
  left: -0.7rem;
  top: 0;
}
